<?xml version="1.0" encoding="utf-8"?>
<!--
   Copyright 2017-2018 Chronoscope
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at
       http://www.apache.org/licenses/LICENSE-2.0
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chronoscoper.android.classschedule2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".LiftimApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LauncherActivity"
            android:theme="@style/AppTheme.Splash" />
        <activity
            android:name=".home.HomeActivity"
            android:theme="@style/AppTheme.DrawerActivity" />
        <activity
            android:name=".setup.SetupActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".setup.TokenCallbackActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="setup"
                    android:scheme="liftim" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.SettingsActivity"
            android:enabled="false"
            android:label="@string/settings">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.ManageAccountActivity"
            android:label="@string/manage_account" />
        <activity
            android:name=".setting.ManageLiftimCodeActivity"
            android:label="@string/manage_liftim_code" />
        <activity
            android:name=".setup.JoinLiftimCodeActivity"
            android:label="@string/join_class"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".setup.CreateLiftimCodeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".home.info.EditInfoActivity"
            android:label="@string/add_info"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".home.timetable.EditTimetableActivity"
            android:label="@string/edit_timetable"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".weekly.EditWeeklyActivity"
            android:label="@string/edit_weekly"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".LoginAgainActivity" />
        <activity
            android:name=".home.timetable.ViewTimetableActivity"
            android:label="@string/timetable"
            android:theme="@style/AppTheme.Translucent" />
        <activity
            android:name=".home.info.detail.ViewInfoActivity"
            android:label="@string/info"
            android:theme="@style/AppTheme.Translucent" />
        <activity
            android:name=".setup.JoinWithBarcodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".setting.manager.LiftimCodeSettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".setting.manager.EditSubjectListActivity"
            android:label="@string/edit_subject_list" />
        <activity
            android:name=".setting.manager.EditSubjectActivity"
            android:label="@string/edit_subject" />

        <!-- DO NOT rename or delete this activity-alias as it's the main entry point for this app -->
        <activity-alias
            android:name=".Launcher"
            android:targetActivity=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <service android:name=".task.RegisterInfoService" />
    </application>
</manifest>
